.myBookings {
	padding: 4rem;
	min-height: 100vh;
	.booking_container {
		margin-top: 4rem;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		.booking {
			margin-bottom: 2rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 300px;
			width: 80%;
			border-top-left-radius: 1rem;
			border-top-right-radius: 1rem;
			border-bottom-left-radius: 1rem;
			border-bottom-right-radius: 1rem;
			box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
				rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
			.booking_wrapper {
				display: flex;
				align-items: center;
				flex: 0 1 80%;
				border-top-left-radius: 1rem;
				border-bottom-left-radius: 1rem;
				.booking_img_con {
					width: 350px;
					height: 300px;
					flex: 0 1 50%;
					img {
						border-top-left-radius: 1rem;
						border-bottom-left-radius: 1rem;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				.booking_det_con {
					padding: 1rem;
					flex: 0 1 50%;
					span {
						color: #000;
						font-weight: 500;
					}
					.booking_title {
						font-family: "DM Sans";
						font-weight: 600;
						color: #000;
						margin-bottom: 0.5rem;
						font-size: 1.4rem;
					}
					.address {
						display: flex;
						align-items: center;
						margin: 0.5rem 0;
						p {
							color: #000;
							margin-left: 0.5rem;
						}
					}
					.btn_container {
						display: flex;
						align-items: center;
						justify-content: space-between;
						.btn_primary {
							font-size: 0.8rem;
						}
						.btn_sec {
							background-color: red;
							font-size: 0.8rem;
							&:hover {
								background-color: rgb(219, 12, 12);
							}
						}
					}

					.timeline {
						padding: 15px;

						ul {
							margin-top: 20px;
							display: flex;
							justify-content: space-between;
							list-style-type: none;
							padding: 0;

							li {
								position: relative;

								.timeline_point {
									border: none;

									background-color: rgb(172, 172, 252);
									width: 15px;
									height: 15px;
									border-radius: 50%;

									position: absolute;
									top: -30px;
									left: 40%;

									transition: 1.5s ease;
									box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
								}
								p{

								}
								.date{
									font-size: 0.8rem;
									color: #000;
									font-weight: 200;
									line-height: 1;
								}
							}
						}
						.timeline_line {
							background-color: rgb(288, 288, 288);
							width: 100%;
							height: 4px;
							border-radius: 12px;
							position: relative;
							box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
							.timeline_innerline {
								position: absolute;
								background: blue;
								width: 100%;
								height: 4px;
								top: 0%;
								left: 0%;
								transition: 10s linear;
								border-radius: 999px;
								animation: animate 2s linear;
							}
							@keyframes animate {
								0% {
									background-color: red;
									width: 20%;
								}
								50% {
									background-color: green;
									width: 50%;
								}
								100% {
									background-color: blue;
									width: 100%;
								}
							}
						}
					}
				}
			}
			.qr_code_container {
				margin-right: 1rem;
				flex: 0 1 20%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}
