.myBookings {
	padding: 4rem;
	min-height: 100vh;
	.booking_container {
		margin-top: 4rem;
		.booking {
			margin-bottom: 2rem;
			display: flex;
			align-items: center;
			height: 250px;
			width: 800px;
			border-top-left-radius: 1rem;
			border-top-right-radius: 1rem;
			border-bottom-left-radius: 1rem;
			border-bottom-right-radius: 1rem;
			box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
				rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
			.booking_img_con {
				width: 350px;
				height: 250px;
				img {
					border-top-left-radius: 1rem;
					border-bottom-left-radius: 1rem;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.booking_det_con {
				padding: 1rem;
				span {
					color: #000;
					font-weight: 500;
				}
				.booking_title {
					font-family: "DM Sans";
					font-weight: 600;
					color: #000;
					margin-bottom: 0.5rem;
					font-size: 1.4rem;
				}
				.address {
					display: flex;
					align-items: center;
					margin: 0.5rem 0;
					p {
						color: #000;
						margin-left: 0.5rem;
					}
				}
				.booking_dates {
					color: #000;
				}
				.btn_container {
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-top: 1rem;
					.btn_primary {
						font-size: 0.8rem;
					}
					.btn_sec {
						background-color: red;
						font-size: 0.8rem;
						&:hover {
							background-color: rgb(219, 12, 12);
						}
					}
				}
			}
		}
	}
}