.hero {
  width: 100%;
  height: 80vh;
  .hero_container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    .hero_search_placement {
      width: 100%;
      position: absolute;
      bottom: -6rem;
      left: 0;
    }
    .hero_left_container {
      position: relative;
      width: 50%;
      .blurry_bg {
        .blurry_crimson_circle {
          display: block;
          position: absolute;
          bottom: 5rem;
          left: -5rem;
          width: 24rem;
          height: 24rem;
          background-color: rgb(239 35 60);
          border-radius: 50%;
          filter: blur(64px);
          mix-blend-mode: multiply;
          opacity: 0.1;
        }
        .blurry_skyblue_circle {
          display: block;
          position: absolute;
          bottom: -10rem;
          left: 5rem;
          width: 24rem;
          height: 24rem;
          background-color: #87ceeb;
          border-radius: 50%;
          filter: blur(64px);
          mix-blend-mode: multiply;
          opacity: 0.2;
        }
      }
      .hero_subtitle {
        display: flex;
        align-items: center;
        gap: 4px;
        .hero_subtitle_logo {
          width: 40px;
          height: 40px;
          border-radius: 100%;
          background-color: #006ce4;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        p {
          color: #243757;
          font-weight: 500;
          font-size: 1.4rem;
        }
      }
      h1 {
        font-size: 4rem;
        margin: 2rem 0;
      }
    }
    .hero_right_container {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      img {
        width: 80%;
      }
    }
  }

  .search_container {
    position: relative;
    width: 40%;
    .search_wrapper {
      background-color: #ffffff;
      position: relative;
      z-index: 100;
      padding: 1.5rem 2rem;
      border-radius: 10px;
      box-shadow: rgba(131, 127, 127, 0.13) 0px 0.2rem 1.2rem 0px;
      .input_label {
        margin-bottom: 0.5rem;
        h2 {
          font-size: 16px;
          font-weight: 400;
          color: rgb(119, 119, 119);
        }
      }
      .input_section {
        display: flex;
        align-items: center;
        border-bottom: 0.1rem solid rgb(239, 243, 248);
        margin-bottom: 1rem;
        padding: 10px 0;

        span {
          cursor: pointer;
          font-size: 18px;
          font-weight: 500;
          color: rgb(51, 51, 51);
        }

        input {
          width: 100%;
          border: none;
          font-family: "Rubik", sans-serif;
          outline: none;
          font-size: 18px;
          font-weight: 500;
          color: rgb(51, 51, 51);
        }
        input::placeholder {
          font-family: "Rubik", sans-serif;
          font-size: 18px;
          font-weight: 500;
          color: rgb(51, 51, 51);
        }

        .input_icons {
          margin-right: 0.5rem;
          font-size: 20px;
          font-weight: 500;
          color: rgb(51, 51, 51);
        }
        .input_section_res {
          width: 260px;
          position: absolute;
          left: 40px;
          top: 108px;
          background-color: #ffffff;
          display: flex;
          flex-direction: column;
          padding: 10px 20px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
            rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          @media (max-width: 1000px) {
            top: 200px;
          }

          div {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            .icon {
              color: #757575;
            }
            p {
              color: #000;
              cursor: pointer;
              margin-left: 0.5rem;
              text-transform: capitalize;
            }
          }
        }
      }

      .date_container_box {
        position: absolute;
        top: 108px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
          rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        @media (max-width: 1000px) {
          width: 100%;
          top: 138px;
          left: 0;
          right: 0;
          box-shadow: none;
        }
        .date_renger {
          @media (max-width: 1000px) {
            width: 100%;
          }
        }
      }

      .options {
        width: 260px;
        position: absolute;
        top: 108px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
          rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        @media (max-width: 1000px) {
          top: 200px;
        }
        .optionItem {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 1rem;

          .counter_content {
            display: flex;
            flex-direction: column;

            .counter_heading {
              color: #2f2f2f;
              font-size: 1rem;
            }

            .counter_sub {
              font-size: 0.8rem;
              line-height: 1rem;
            }
          }

          .counter_container {
            display: flex;
            align-items: center;

            .counter_button {
              padding: 0.5rem;
              font-size: 1rem;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              border: none;
              cursor: pointer;
              box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
                rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            }

            .counter_number {
              width: 30px;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }

    .btn_primary {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      padding: 1rem 1.5rem;
      width: 220px;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
