.hero {
	width: 100%;
	margin-bottom: 4rem;
	position: relative;
	z-index: 1;

	.hero_search_container {
		padding: 0 4rem;
		margin-top: -6rem;
		width: 100%;
		height: 80vh;
		background: url("../../../../public/assets/download.webp");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		@media (max-width: 1001px) {
			height: 100%;
		}
		
		@media (max-width: 560px) {
			padding: 0 1rem;
		}
		.hero_search_max_width {
			max-width: 1600px;
			margin: 0 auto;
			h1 {
				text-align: center;
				padding-top: 10%;
				color: #fff;
				margin-bottom: 2rem;

				@media (max-width: 1001px) {
					padding-top: 15%;
					padding-bottom: 1rem;
				}

				@media (max-width: 990px) {
					padding-top: 20%;
				}

				@media (max-width: 560px) {
					padding-top: 35%;
					font-size: 1.2rem;
				}
			}

			.hero_tags_container {
				padding-top: 2rem;
				@media (max-width: 1001px) {
					margin-bottom: 2rem;
				}
				p {
					color: #fff;
					font-weight: 500;
				}

				.hero_tags_wrapper {
					display: flex;
					flex-wrap: wrap;
					gap: 1rem;
					color: #fff;
					margin-top: 1rem;

					div {
						padding: 5px 10px;
						background: linear-gradient(265deg, #ef4123, #ee3f25 48%, #d11450);
						border-radius: 4px;
						font-weight: 500;
					}
				}
			}
		}

		.offer_container {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			.offer_wrapper {
				background-color: #ffffff;
				position: relative;
				width: 100%;
				max-width: 90%;
				height: 150px;
				margin-bottom: -20%;
				z-index: 100;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 1.5rem 4rem;
				border-radius: 10px;
				box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
					rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

				@media (max-width: 1100px) {
					margin-bottom: -25%;
				}
				@media (max-width: 990px) {
					height: 100%;
					flex-direction: column;
				}
				@media (max-width: 560px) {
					padding: 1rem 2rem;

					h2{
						font-size: 1rem;
					}
					p{
						font-size: 0.9rem;
					}
				}
				.offer_input {
					display: flex;
					gap: 1rem;

					@media (max-width: 560px) {
						flex-direction: column;
						width: 100% ;
					}
					input {
						padding: 10px;
						color: #212121;
						border: 1px solid rgba(0, 0, 0, 0.12);
						border-radius: 4px;
					}
					button {
						background: linear-gradient(265deg, #ef4123, #ee3f25 48%, #d11450);
						font-family: "DM Sans", sans-serif;
						padding: 10px;
						color: #fff;
						text-decoration: none;
						border-radius: 4px;
						transition: 0.4s;
						border: none;
						outline: none;
						display: inline-block;
						font-size: 1rem;
						cursor: pointer;
						&:hover {
							background: linear-gradient(
								-265deg,
								#ef4123,
								#ee3f25 48%,
								#d11450
							);
						}
					}
					@media (max-width: 990px) {
						margin-top: 1rem;
					}
				}
			}
		}
	}

	.search_container {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		.search_wrapper {
			background-color: #ffffff;
			position: relative;
			width: 100%;
			max-width: 80%;
			z-index: 100;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 1.5rem 2rem;
			border-radius: 10px;
			box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
				rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
			@media (max-width: 1400px) {
				bottom: 10%;
			}

			@media (max-width: 1250px) {
				bottom: 0;
			}

			@media (max-width: 1150px) {
				max-width: 90%;
			}

			@media (max-width: 1000px) {
				flex-direction: column;
				border-radius: 10px;
				padding: 20px;
				max-width: 90%;
			}

			.input_section {
				display: flex;
				align-items: center;

				@media (max-width: 1000px) {
					box-shadow: rgba(0, 0, 0, 0.06) 0px 10px 36px 0px,
						rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
					margin: 0.5rem 0;
					padding: 10px;
					width: 100%;
					border-radius: 5px;
				}

				span {
					cursor: pointer;
				}

				input {
					border: none;
					font-family: "DM Sans", sans-serif;
					font-size: 1rem;
					color: rgb(107, 114, 128);
					outline: none;

					&::placeholder {
						font-family: "DM Sans", sans-serif;
						font-size: 1rem;
						color: #2f2f2f;
					}
				}

				.input_icons {
					font-size: 1.5rem;
					margin-right: 0.5rem;
					color: #d1d5db;
				}
				.input_section_res {
					width: 260px;
					position: absolute;
					left: 40px;
					top: 108px;
					background-color: #ffffff;
					display: flex;
					flex-direction: column;
					padding: 10px 20px;
					box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
						rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
					@media (max-width: 1000px) {
						top: 200px;
					}

					div {
						display: flex;
						align-items: center;
						margin-bottom: 10px;
						.icon {
							color: #757575;
						}
						p {
							color: #000;
							cursor: pointer;
							margin-left: 0.5rem;
							text-transform: capitalize;
						}
					}
				}
			}

			.date_container_box {
				position: absolute;
				top: 108px;
				box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
					rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
				@media (max-width: 1000px) {
					width: 100%;
					top: 138px;
					left: 0;
					right: 0;
					box-shadow: none;
				}
				.date_renger {
					@media (max-width: 1000px) {
						width: 100%;
					}
				}
			}

			.options {
				width: 260px;
				position: absolute;
				top: 108px;
				background-color: #ffffff;
				display: flex;
				flex-direction: column;
				padding: 10px 20px;
				box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
					rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
				@media (max-width: 1000px) {
					top: 200px;
				}
				.optionItem {
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-bottom: 1rem;

					.counter_content {
						display: flex;
						flex-direction: column;

						.counter_heading {
							color: #2f2f2f;
							font-size: 1rem;
						}

						.counter_sub {
							font-size: 0.8rem;
							line-height: 1rem;
						}
					}

					.counter_container {
						display: flex;
						align-items: center;

						.counter_button {
							padding: 0.5rem;
							font-size: 1rem;
							display: flex;
							align-items: center;
							justify-content: center;
							border-radius: 50%;
							border: none;
							cursor: pointer;
							box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
								rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
						}

						.counter_number {
							width: 30px;
							height: 30px;
							display: flex;
							align-items: center;
							justify-content: center;
						}
					}
				}
			}
		}

		.search_btn {
			display: flex;
			align-items: center;
			justify-content: center;
			background: linear-gradient(265deg, #ef4123, #ee3f25 48%, #d11450);
			font-family: "DM Sans", sans-serif;
			width: 80px;
			height: 60px;
			color: #fff;
			text-decoration: none;
			border-radius: 10px;
			transition: 0.4s;
			border: none;
			outline: none;
			display: inline-block;
			font-size: 1.5rem;
			cursor: pointer;
			&:hover {
				background: linear-gradient(-265deg, #ef4123, #ee3f25 48%, #d11450);
			}

			@media (max-width: 1150px) {
				width: 70px;
			}

			@media (max-width: 1000px) {
				width: 100%;
				border-radius: 10px;
				margin-top: 0.5rem;
				height: 50px;
			}

			.search_icon {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}
