.hotel_single_list {

    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 1rem;
    margin-bottom: 2rem;

    @media(max-width:964px) {
        flex-direction: column;
        width: 300px;
    }

    .main_hotel_img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;

        @media(max-width:964px) {
            width: 300px;
            height: max-content;
        }

        img {
            width: 300px;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;

            @media(max-width:964px) {
                border-bottom-left-radius: 0;
                border-top-right-radius: 1rem;
            }
        }
    }

    .hotel_details {
        padding: 1rem;
        flex: 0 1 70%;

        p {
            font-size: 0.9rem;
            color: #000000;
        }

        .hotel_heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;

            @media(max-width:964px) {
                flex-direction: column;
                margin-bottom: 0;
            }

            .hotel_name {
                font-size: 1.2rem;
                color: #4F46E5;
                font-weight: 600;
            }

            .hotel_details_fst_cld {
                display: flex;
                align-items: center;
                gap: 1rem;

                .hotel_rev {
                    color: #000;
                    font-weight: 600;
                    font-size: 1rem;
                }

                .hotel_reating {
                    display: flex;
                    align-items: center;

                    .star_icn {
                        color: #EF4444;
                        margin-right: 0.2rem;
                    }
                }
            }
        }

        .hotel_addredd {
            @media(max-width:964px) {
            text-align: center;
            }
        }

        .hotel_detls {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            .hotel_all_details {
                @media(max-width:964px) {
                    display: none;
                }

                .hotel_free {
                    background-color: #027620;
                    color: #fff;
                    width: 40%;
                    text-align: center;
                    border-radius: 0.2rem;
                    margin: 0.5rem 0;
                    font-weight: 500;
                }

                .hotel_fe_first {
                    font-weight: 600;
                }

                .hotel_fe_sec {
                    color: #027620;
                    font-weight: 500;
                }
            }

            .hotel_right_con {
                text-align: right;

                @media(max-width:964px) {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .hoptel_price {
                    font-size: 1.5rem;
                    margin-bottom: 1rem;

                    @media(max-width:964px) {
                        margin-bottom: 0;
                        font-size: 1rem;
                        font-weight: 500;
                        margin-right: 1rem;
                    }
                }

                .hotel_right_con_fst_cld {

                    .taxes {
                        @media(max-width:964px) {
                            display: none;
                        }
                    }

                    button {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}