* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background: #f8f9fa;
}

p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: rgb(107, 114, 128);
}

a,
input {
  font-family: "Rubik", sans-serif;
}

.btn_primary {
  background: #006ce4;
  font-family: "Rubik", sans-serif;
  padding: 0.6rem 1.2rem;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.4s;
  border: none;
  outline: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  &:hover {
    background: #003b95;
  }
}

.des_container {
  .swiper {
    height: 100%;
  }
}

.list_slider_container {
  .swiper {
    @media (max-width: 662px) {
      height: 100%;
    }
  }
}
